@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #3c3c3b;
  --mds-blue: #2cb8c5;
  --mds-white: #fff;
  --mds-black: #3c3c3b;
  --mds-violet: #662483;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mds-blue: var(--mds-blue);
  --color-mds-white: var(--mds-white);
  --color-mds-black: var(--mds-black);
  --color-mds-violet: var(--mds-violet);
  --font-bricolage: var(--font-bricolage);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-bricolage);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
